.idea/
.databases
.dockerignore
.env
certs/
mariadb-init/
mutagen
tests
mutagen.yml.lock
docker-compose.yml
docker.mk
LICENSE.md
Makefile
README.md
traefik.yml
web/sites/default/files/
web/sites/default/settings.local.php
private/